<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} {% endblock %}</title>
  <link rel="shortcut icon" href="/favicon.svg">
  {% block style %} {% endblock %}
  {% block script %} {% endblock %}
</head>

<body>
  <header>
    {% block header %} {% endblock %}
  </header>

  <main class="main">
    {% block main %} {% endblock %}
  </>

  <footer>
    {% block footer %} {% endblock %}
  </footer>
</body>
</html>
