@use '../_core.scss';

:root {

    --background: #fff; 
    --color: #161616;

    @media (prefers-color-scheme: dark) {
        --background: #161616; 
        --color: #fff;
    }
}

core.$accent: var(--color);
core.$background: var(--background);

body {
    background-color: core.$background;
    color: core.$accent;

    margin-inline: 15%;
    width: auto;

    ul { 
        list-style-type: none; 
    }

    a { 
        color: core.$accent;
    }

    @media (max-width: 666px) {
        margin-inline: 7.5%;
    }
}

* {
    font-family: 'Montserrat', monospace;
}

header {
    display: flex;

    .presentation {
        aspect-ratio: 16/9;

        max-height: 250px;
        min-width: 250px;

        display: flex;
        background-color: core.$accent;
        color: core.$background;
        padding: 1%;

        h1 {
            width: 10%;
            font-size: xx-large;

            align-self: flex-end;
            strong {

                font-size: x-large;
                font-weight: 200;
            }
        }
    }

    .resume {
        display: flex;
        padding: 2%;
        padding-bottom: 50px;
        align-items: flex-end;

    }

    @media (max-width: 666px) {
        .presentation {
            max-width: 250px;

            h1 {
                font-size: x-large;

                strong {
                    font-size: large;
                }
            }
        }

        .resume {
            position: absolute;
            top: 160px;
            max-width: 60%;
            min-width: 250px;
        }
    }
}

.content {
    position: relative;
    top: -45px;

    padding: 2%;
    padding-top: 100px;
    border: core.$accent 3px solid;

    min-width: 300px;

    @media (max-width: 666px) {
        top: -30px;
        padding-top: 170px;

        grid-template-columns: 1fr;
        justify-items: left;
    }

    .page {

        word-wrap: break-word;

        padding-inline: 1%;
        padding-bottom: 1%;

        h1 {
            font-size: x-large;
            padding-inline: 5px;
            border-bottom: 1px solid core.$accent;
        }

        h3 {
            font-size: large;

        }

        .page-content {
            padding: 10px;

            &:has(table) {
                padding: 0;
                display: flex;
                justify-content: center;
            }
        }

        table {
            border-collapse: collapse;
            border-style: hidden;

            th {
                font-size: large;
                padding-top: 5px;
                padding-bottom: 15px;

                @media (max-width: 666px) { 
                    font-size: medium;
                }

                @media (max-width: 420px) { 
                    font-size: small;
                }
            }

            td {
                padding-inline: min(20px,1%);
                border-inline: 1px solid core.$accent;

                li {
                    font-size: large;

                    @media (max-width: 666px) { 
                        font-size: medium;
                    }

                    @media (max-width: 420px) { 
                        font-size: small;
                    }
                }

                div {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                }

                @media (max-width: 666px) { 
                    border-inline: none;
                }

                img {
                    padding: 2px;
                    width: 32px;

                    @media (max-width: 666px) { 
                        width: 24px;
                        border-inline: none;
                    }

                    @media (max-width: 420px) { 
                        width: 16px;
                    }
                }
            }
        }
    }
}